.row {
    background-color: lightgray;
    border: solid black;
    margin-top: .5em;
    border-width: 1px;
    /*height: 100px;*/
}

.col {
    background-color: lightgray;
    border: solid black;
    border-width: 1px;
    /*height: 100px;*/

}
