body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0ffff;
}

legend {
    font-size: 1em;
    font-weight: bold;
}

fieldset {
    border: none;
}

button {
    padding: 10px;
}

input, textarea {
    background-color: #f0ffff;
}

textarea {
    border: solid gray 2px;
}