body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid lightgrey;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: .001em; /*necessary?*/
} /*use .message vs div*/
/*
.message-info {
    background-color: #D0DEFC;
    color: #451e9d;
}

.message-success {
    background-color: #d6f2dc;
    color: #45794d;
}

.message-warning {
    background-color: #fcface;
    color: #96873c;
}

.message-error {
    background-color: #ffd1d6;
    color: #8d002b;
}
*/
/*Bonus using css variables*/
:root {
    --bg-info: #D0DEFC;
    --text-info: #451e9d;
    --bg-success: #d6f2dc;
    --text-success: #45794d;
    --bg-warning: #fcface;
    --text-warning: #96873c;
    --bg-error: #ffd1d6;
    --text-error: #8d002b;
}
.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}
.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}