body {
    background-color: #f0f0f5;
    font-family: 'Noto Sans KR', sans-serif;
}


.fancy-header {
    color: #14141f;
    text-decoration: underline;
    background-image: codeup-web-exercises/img/hexellence.png;
}

h1 {
    text-align: center;
}

h2 {
    color: #33334d;
    text-decoration: underline;
}

ul {
    list-style: square;
}