.idea/*
*.iml
secret.txt
welcome_challenge.html
welcome_challenge_style.css
texas-flag.html
texas-flag.css
html-practice.html
bootstrap_practice.html
bootstrap-grid.html
bbc_404.css
bbc_404.html
bbc_error.gif
bbc_logo.png
bbc_sign_in.png